@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.text {
  font-size: calc(14px + 1.1458333333vw);
  color: #fff;
  line-height: 59px;
  padding: 0 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  text-align: center;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: calc(22px + 1.5625vw);
  line-height: 60px;
  text-align: center;
  padding-bottom: 30px;
}
.title:before {
  content: "—";
  padding: 0 15px;
}
.title:after {
  content: "—";
  padding: 0 15px;
}

.about__image {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.425)), to(rgba(0, 0, 0, 0.459))), url("../img/background.jpg") no-repeat center top;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.425), rgba(0, 0, 0, 0.459)), url("../img/background.jpg") no-repeat center top;
  background-size: cover;
  height: 100%;
  padding: 40px 0 100px;
}

@media screen and (max-width: 991px) {
  .text {
    line-height: 40px;
    padding: 0 10px;
  }

  .title {
    padding-bottom: 10px;
  }
}
.goods__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.goods__body {
  margin: 0 auto;
}
.goods__item {
  margin: 0 auto;
  padding: 70px 0;
}
.goods__img {
  margin: 0 auto;
  position: relative;
}
.goods__img img {
  height: 500px;
  width: 100%;
}
.goods__discription {
  position: relative;
  background-color: #fff;
  padding: 10px 20px 50px 20px;
}
.goods__title {
  text-align: center;
  font-size: 1.3em;
}

.lake {
  text-align: center;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.lake:before {
  display: block;
  background-color: rgb(0, 0, 0);
  content: "";
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.lake:after {
  font-family: "Lucida Console";
  color: white;
  content: attr(alt);
  display: block;
  font-size: 16px;
  opacity: 0;
  padding: 0 3%;
  position: absolute;
  text-transform: none;
  top: 50%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: scale(0) translateY(-50%);
  transform: scale(0) translateY(-50%);
  width: 94%;
  z-index: 3;
}

.lake img {
  border: none;
  display: block;
  z-index: 1;
}

.lake:after {
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.lake:hover:before {
  opacity: 0.6;
}

.lake:hover:after {
  opacity: 1;
  -webkit-transform: scale(1) translateY(-50%);
  transform: scale(1) translateY(-50%);
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #121212;
}

.container {
  max-width: 1678px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.header {
  min-width: 100%;
  font-size: calc(16px + 0.1041666667vw);
}
.header__eqweqwe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__image {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.425)), to(rgba(0, 0, 0, 0.459))), url("../img/background.jpg") no-repeat center top;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.425), rgba(0, 0, 0, 0.459)), url("../img/background.jpg") no-repeat center top;
  background-size: cover;
  height: 100%;
  padding: 40px 0 250px 0;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 74px;
  position: relative;
}
.header__adress {
  text-align: center;
  color: #fff;
  font-size: calc(12px + 0.2083333333vw);
}
.header__adress a {
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__adress a:first-child {
  text-decoration: underline;
}
.header__adress a:hover {
  font-weight: bold;
}
.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 60px;
}
.header__item a {
  padding-bottom: 20px;
  line-height: 18px;
  white-space: nowrap;
}
.header__btn {
  display: block;
  background-color: #fff;
  border-radius: 50px;
  color: black;
  max-width: 250px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 22px;
  margin-top: 25%;
  margin-left: 14%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__btn:hover {
  background-color: #bbbbbb;
  -webkit-box-shadow: 0 4px 10px #000;
          box-shadow: 0 4px 10px #000;
  color: #fff;
}
.header__btn:active {
  background-color: rgb(146, 148, 38);
}

.items {
  color: #fff;
  padding: 0 30px;
}

.aboutUs {
  padding: 70px 0;
}
.aboutUs__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.aboutUs__text {
  color: #fff;
  font-size: calc(18px + 0.625vw);
  line-height: 40px;
  padding: 0 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  text-align: left;
}
.aboutUs__text p {
  padding-top: 20px;
}
.aboutUs__text p:before {
  content: "* ";
  color: red;
  font-size: 34px;
}
.aboutUs__image {
  margin: 0 auto;
  position: relative;
}
.aboutUs__image img {
  width: 100%;
  height: 800px;
}

.gallary {
  padding: 0 0 70px 0;
}

.record {
  max-width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url("/img/record_bg.jpg") no-repeat center top;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("/img/record_bg.jpg") no-repeat center top;
  background-size: cover;
  max-height: 100%;
  padding: 100px 0;
  position: relative;
  /* BOTTOM BARS ================================= */
  /* active state */
  /* HIGHLIGHTER ================================== */
  /* active state */
  /* ANIMATIONS ================ */
}
.record__recording {
  position: absolute;
  right: 0;
  top: 0;
  padding: 25px 50px;
}
.record input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}
.record input:focus {
  outline: none;
}
.record .bar {
  position: relative;
  display: block;
  width: 300px;
}
.record .bar:before, .record .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.record .bar:before {
  left: 50%;
}
.record .bar:after {
  right: 50%;
}
.record input:focus ~ .bar:before, .record input:focus ~ .bar:after {
  width: 50%;
}
.record .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
.record input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.table {
  border-collapse: collapse;
  color: #fff;
  margin: 0 auto;
  font-size: 22px;
  width: 50%;
}
.table th, .table td {
  padding: 30px 0;
  border: 1px solid #fff;
  text-align: center;
}

.staff {
  padding: 70px 0;
}
.staff__title {
  color: #fff;
  font-weight: 500;
  font-size: calc(18px + 1.3541666667vw);
  line-height: 60px;
  text-align: center;
}
.staff__title:before {
  content: "—";
  padding: 0 15px;
}
.staff__title:after {
  content: "—";
  padding: 0 15px;
}
.staff__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.staff__person {
  padding-top: 60px;
  position: relative;
}
.staff__post {
  font-family: "Roboto", sans-serif;
  color: #fff;
  position: absolute;
  font-size: calc(50px + 0.4166666667vw);
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 10px;
  text-align: center;
  line-height: 50px;
  color: #dad6d6;
  text-transform: uppercase;
}
.staff__network {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
}
.staff__img {
  position: relative;
}
.staff__img img {
  max-width: 100%;
  max-height: 700px;
}
.staff__btn {
  display: block;
  background-color: #fff;
  border-radius: 10px;
  color: black;
  max-width: 250px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 22px;
  margin-left: 100px;
  margin-top: 45px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.staff__btn:hover {
  background-color: #bbbbbb;
  -webkit-box-shadow: 0 4px 10px #000;
          box-shadow: 0 4px 10px #000;
  color: #fff;
}
.staff__btn:active {
  background-color: rgb(146, 148, 38);
}

.network__icon {
  height: 60px;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.map__piercing {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}
.map iframe {
  width: 1100px;
  height: 400px;
}

.footer {
  padding: 20px 0 50px;
  font-size: calc(8px + 0.3125vw);
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer__adress {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__number {
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #fff;
  transition: all 0.5s ease;
}
.footer__number:first-child {
  text-decoration: underline;
}
.footer__number:hover {
  font-weight: bold;
}
.footer__street {
  margin-top: 10px;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__links a {
  color: #fff;
  padding: 0 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: underline;
}
.footer__links a:hover {
  font-weight: bold;
}

.scroll__top a {
  display: none;
}
.scroll__top img {
  position: fixed;
  bottom: 50px;
  right: 70px;
  font-size: 40px;
  z-index: 100;
  height: 70px;
}

@media screen and (max-width: 1199px) {
  .container {
    width: 960px;
  }

  .header__image {
    padding-bottom: 150px;
  }

  .aboutUs__image {
    padding-top: 40px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  .scroll__top img {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 40px;
    z-index: 100;
    height: 50px;
  }

  .aboutUs {
    padding: 40px 0px;
  }
  .aboutUs__text {
    line-height: 40px;
    padding: 0 10px;
  }

  .header {
    position: relative;
  }
  .header__menu {
    padding: 0 15px;
  }
  .header__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    text-align: right;
    padding: 0;
  }
  .header__adress {
    text-align: left;
  }
  .header__btn {
    position: absolute;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .items {
    color: #fff;
    padding: 0;
  }

  .staff {
    padding: 20px 0;
  }
  .staff__person {
    padding-top: 40px;
  }
  .staff__btn {
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 40px;
  }
  .map {
    padding-top: 30px;
  }

  .aboutUs img {
    height: 700px;
  }
}
@media screen and (max-width: 575px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  .aboutUs img {
    height: 500px;
  }

  .goods {
    padding-top: 25px;
  }
  .goods__item {
    padding: 20px 0;
  }
  .goods__img img {
    height: 350px;
    width: 100%;
  }
}